$color_white: #fff;
$color_black: #000;
$color-red: #ff1c1c;
$color-red-light: #ee6363;
$color-background-black: #242424;

// breakpoints
$large-screen: 1200px;
$medium-screen: 800px;
$small-screen: 545px;