@mixin clampText($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

$color_white: #fff;
$color_black: #000;
$color-red: #ff1c1c;
$color-red-light: #ee6363;
$color-background-black: #242424;