.movies-view {
  max-width: 1400px;
  margin: auto;
  flex-direction: column;
  gap: 30px;

  &__title {
    text-align: center;
    color: $color_white;
  }

  &__controls {
    flex-direction: row;
    align-items: center;
    max-width: 1370px;
    width: 100%;
    margin: auto;
    @media (max-width: 1200px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
